.filter_fixed_popup_div{
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    display: none;
}

.filter_fixed_popup{
    width: 500px;
    height: 400px;
    background: #333;
}

.tags_filter_popup{
    max-width: 400px;
    width: 100%;
    height: auto;
    /* z-index: 3; */
}

.timeline_tags_filter_div_flex{
    background: var(--Light-Blue, #EDF3FC);
    border-radius: 36px;
}
