@media (max-width: 1250px) {
  .news_project_article_flex {
    margin: 0;
  }

  .tags_sidebar_aside {
    display: none;
  }

  .timeline_div_flex {
    margin-left: 0px !important;
  }

  #header_filter_btn_div {
    display: flex !important;
  }

  #header_filter_btn {
    display: block;
  }

  .projects_section {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .project_section_vertical_line_orange_circle_div {
    display: none;
  }

  .news_project_item_time {
    display: none;
  }

  .news_project_item_time_in_image{
    display: flex;
    align-items: flex-end;
  }
}

@media (max-width: 650px) {
  .news_project_items_div_decor_and_items {
    justify-content: center;
  }

  .news_project_article_flex {
    align-items: flex-start;
  }

  .timeline_title_div {
    width: 100%;
    gap: 10px;
    display: flex;
  }

  .news_project_image_link {
    min-width: 120px;
    width: 100%;
    max-width: none;
  }

  .news_project_image {
    min-width: 120px;
    width: 100%;
    max-height: 250px;
    height: 250px;
    max-width: none;
    position: relative;
  }

  .news_project_image img {
    border-radius: 20px 20px 0px 0px !important;
  }

  .news_project_div {
    flex-direction: column !important;
  }

  .news_project_description_tags_div {
    padding: 14px;
    width: 100%;
    min-width: 130px;
  }

  .news_project_description_title {
    font-size: 15px;
  }

  .news_project_description_text {
    font-size: 12px;
  }

  .timeline_title {
    font-size: 15px;
  }
}

@media (max-width: 520px) {
  .news_project_items_div_decor_and_items {
    width: 100%;
    justify-content: flex-end;
  }

  .news_projects_items_div {
    align-items: center;
  }

  .timeline_no_post{
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .news_project_items_div_decor_and_items {
    justify-content: flex-end;
  }

  .news_projects_items_div {
    align-items: center;
  }

  .news_project_div {
    align-items: stretch;
  }

  .timeline_div_flex {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .news_projects_items_div {
    align-items: flex-end;
  }
}
