.post_detail_container {
   margin-top: 60px;/
}

.post_detail_flex {
   display: flex;
   justify-content: space-between;
   gap: 40px;
}

/* Main content */

.post_detail_main {
   display: flex;
   flex-direction: column;
   gap: 60px;
   min-width: 260px;
   max-width: 900px;
   width: 100%;
}

.post_detail_params_image_div {
   display: flex;
   flex-direction: column;
   gap: 28px;
}

.post_detail_pubdate_share_btn_div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.post_detail_pubdate_div {
   display: flex;
   align-items: center;
   gap: 6px;
}

.post_detail_pubdate_date_mm_dd_yyyy {
   display: flex;
   padding: 5px 10px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 24px;
   border: 1px solid var(--DeFi-Space-Orange, #fe6a25);
}

.post_detail_pubdate_date_mm_dd_yyyy_span {
   color: #3c3c3c;
   font-family: Inter, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.post_detail_pubdate_date_mm_hh_area {
   color: #3c3c3c;
   font-family: Inter, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.post_detail_share_btn_div {
   display: flex;
   padding: 5px 10px;
   align-items: center;
   gap: 4px;
   border-radius: 16px;
   border: 1px solid #3c3c3c;
   cursor: pointer;
   position: relative;
   transition: all 0.2s ease-out;
}

.post_detail_share_btn_div:hover{
   border-radius: 16px;
   border: 1px solid var(--DeFi-Space-Black, #141919);
}

.post_detail_share_btn_div:hover .post_detail_share_p {
   color: #141919;
}

.post_detail_share_p {
   color: #3c3c3c;
   font-family: Inter, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   transition: all 0.2s ease-out;
}

.post_detail_share_icon_img{
   width: 15px;
   height: 15px;
   background-image: url("../../img/post_detail/post_share_icon.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.post_detail_share_btn_div:hover .post_detail_share_icon_img {
   width: 15px;
   height: 15px;
   background-image: url("../../img/post_detail/post_share_icon_active.svg");
   background-position: center;
   background-repeat: no-repeat;
}

.main_post_dropdown_div{
   right: -5px;
   top: 35px;
   bottom: unset !important;
}

/**/
.post_detail_title_p {
   color: #141919;
   font-family: Inter;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
}

.post_detail_story_highlights_div {
   display: flex;
   padding: 24px;
   flex-direction: column;
   align-items: flex-start;
   gap: 24px;
   border-radius: 20px;
   border: 1px solid #c4c6ca;
}

.post_detail_story_highlights_title {
   color: #fe6a25;
   font-family: Inter, sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
}

.post_detail_story_highlights_ul_div {
   width: 100%;
}

.post_detail_story_highlights_ul {
   padding-left: 24px;
}

.post_detail_story_highlights_li {
   color: #141919;
   font-family: Inter, sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%;
}

.post_detail_story_highlights_li h1,
.post_detail_story_highlights_li h2,
.post_detail_story_highlights_li h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.post_detail_story_highlights_li p {
    margin-bottom: 1em;
}

.post_detail_story_highlights_li a {
   margin-bottom: 1em;
   color: #5656ec !important;
   opacity: 1;
   transition: opacity 0.2s ease-in-out;
}

.post_detail_story_highlights_li a:hover {
   opacity: 0.6;
   transition: opacity 0.2s ease-in-out;
}

.post_detail_story_highlights_li ul {
    
    margin-bottom: 1em;
    list-style-type: disc !important;
}

.post_detail_story_highlights_li ol {
    
    margin-bottom: 1em;
    list-style-type: decimal !important;
}

.post_detail_story_highlights_li ul li {
   list-style-type: disc !important;
}

.post_detail_story_highlights_li ol li {
  list-style-type: decimal !important;
}


.post_detail_story_highlights_li table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5em;
}

.post_detail_story_highlights_li th,
.post_detail_story_highlights_li td {
    border: 1px solid #ddd;
    padding: 8px;
}


.post_detail_main_image {
   width: 100%;
   border-radius: 36px;
   min-height: 300px;
   max-height: 400px;
   object-fit: cover;
}

/**/

.post_detail_description_title {
   color: #141919;
   font-family: Inter, sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
   padding-bottom: 20px;
}

.post_detail_description_text, .post_detail_description_text p {
   color: #141919;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%;
   word-wrap: break-word;
}

.post_detail_description_text h1,
.post_detail_description_text h2,
.post_detail_description_text h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.post_detail_description_text p {
    margin-bottom: 1em;
}

.post_detail_description_text a {
   margin-bottom: 1em;
   color: #fe6a25 !important;
   opacity: 1;
   transition: opacity 0.2s ease-in-out;
}

.post_detail_description_text a:hover {
   opacity: 0.6;
   transition: opacity 0.2s ease-in-out;
}

.post_detail_description_text ul {
    margin-left: 1.5em;
    margin-bottom: 1em;
    list-style-type: disc !important;
}

.post_detail_description_text ol {
    margin-left: 1.5em;
    margin-bottom: 1em;
    list-style-type: decimal !important;
}

.post_detail_description_text ul li {
   list-style-type: disc !important;
}

.post_detail_description_text ol li {
   list-style-type: decimal !important;
}



.post_detail_description_text table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5em;
}


.post_detail_description_text blockquote {
   background: #f7f8fa;
   border-left: 3px solid #d3d6db;
   margin: 24px 0;
   padding: 16px 20px;
   border-radius: 8px;
}

.post_detail_description_text blockquote h1,
.post_detail_description_text blockquote h2,
.post_detail_description_text blockquote h3,
.post_detail_description_text blockquote p,
.post_detail_description_text blockquote span {
   line-height: 1.5;
   font-size: 16px;
   color: #666;
   font-style: italic;
   margin-bottom: unset !important;
}

/* blockquote {
   background: #f7f8fa;
   border-left: 3px solid #d3d6db;
   margin: 24px 0;
   padding: 16px 20px;
   border-radius: 6px;
   color: #2c2d30;
   font-size: 16px;
   line-height: 1.5;
 } */

.post_detail_description_text th,
.post_detail_description_text td {
    border: 1px solid #ddd;
    padding: 8px;
}


/* .post_detail_description_text p {
   color: #141919;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%;
   padding-bottom: 20px;
   word-wrap: break-word;
} */


/**/
.post_detail_categories_projects_tags_div {
   display: flex;
   flex-direction: column;
   gap: 28px;
}

.post_detail_categories_projects_tags_and_title_div {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
}

.post_detail_tags_div_title {
   color: #141919;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%;
}

.post_detail_tags_div_flex {
   display: flex;
   align-items: flex-start;
   align-content: flex-start;
   gap: 12px;
   align-self: stretch;
   flex-wrap: wrap;
}

.post_detail_tag_div {
   display: flex;
   padding: 9px 16px;
   align-items: center;
   gap: 10px;
   border-radius: 24px;
   background: #f8f8f8;
   transition: all 0.3s ease-out;
   cursor: pointer;
}

.post_detail_tag_div:hover{
   background: var(--Blue, #BDD4FA);
}

@media (max-width: 550px) {
   .post_detail_tag_div:hover{
      background: #f8f8f8;
   }
}

.post_detail_tag_div_text {
   color: #141919;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

/**/
.post_detail_news_about_slider {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 28px;
}

.post_detail_news_about_slider_title {
   color: #141919;
   font-family: Inter, sans-serif;
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.post_detail_news_slider_item_image {
   display: flex;
   height: 200px;
   background: url("../../img/default_image.webp");
   padding: 16px;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 56px;
   align-self: stretch;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 20px 20px 0px 0px;
}

.post_detail_news_slider_item_description_div {
   display: flex;
   padding: 16px;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
   background-color: #f8f8f8;
   align-self: stretch;
   border-radius: 0px 0px 20px 20px;
}

.post_detail_news_slider_item_description_text {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   height: 60px;
   overflow: hidden;
    text-overflow: ellipsis;
   align-self: stretch;
   color: #141919;
   text-overflow: ellipsis;
   font-family: Inter, sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
}

.post_detail_news_slider_item_tags_div_flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
}

.post_detail_news_slider_item_tags_div {
   display: flex;
   align-items: flex-start;
   gap: 8px;
   flex-wrap: wrap;
}

/* Slider */

.glider-contain-post-detail-div {
   position: relative;
   width: 100%;
}

.post_detail_sidebar_left_button:hover{
   border-radius: 16px;
   background: var(--Blue, #BDD4FA);
   border: none;
}

.post_detail_sidebar_right_button:hover{
   border-radius: 16px;
   background: var(--Blue, #BDD4FA);
   border: none;
}

.glider-contain-post-detail {
   display: flex;
   gap: 50px;
}

.glider-post-detail-slider{
   overflow: hidden !important;
   scrollbar-color: transparent transparent !important;
   scrollbar-width: thin;
}

.glider-post-detail-sidebar-slider{
   scrollbar-color: transparent transparent !important;
}

.glider-post-detail-slider > .glider-track >.glider-slide {
   margin-right: 40px;
 }
 
.post_detail_slider_buttons_div {
   display: flex;
   justify-content: space-between;
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translate(0, -30%);
   z-index: 200;
   padding-left: 16px;
   padding-right: 56px;
}

.glider-btn-post-detail {
   background-color: rgba(0, 0, 0, 0);
   border: none;
}

.glider-prev-post-detail-div {
   display: flex;
   padding: 5px 8px;
   justify-content: center;
   align-items: center;
   gap: 6px;
   border-radius: 24px;
   background: #fff;
   cursor: pointer;
}

.glider-next-post-detail-div {
   display: flex;
   padding: 5px 8px;
   justify-content: center;
   align-items: center;
   gap: 6px;
   border-radius: 24px;
   background: #fff;
   cursor: pointer;
}

.glider-post-detail-btn-p {
   color: #141919;
   font-family: Inter, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   cursor: pointer;
}


.post_detail_post_share_icon_img{
   opacity: 0.4;
   transition: all 0.3s ease-out;
   cursor: pointer;
}

.post_detail_post_share_icon_img:hover{
   opacity: 1;
}

.related_news_silder_item_style{
   position: relative;
}

.related_news_silder_sidebar_item_style{
   position: relative;
}