{% load static %}

<div class="cmp_det_comment" data-comment-id="{{ comment.id }}">
    <img 
        src="{% static 'img/default_image.webp' %}"
        class="cmp_det_comment_profile_picture"
        alt="profile_picture" 
    />
    <div class="cmp_det_comment_author_name_desc_react_div">
        <div class="cmp_det_comment_author_name_div">
            <div class="cmp_det_comment_author_name">
                <span class="cmp_det_comment_author">{{ comment.name }}</span>
                <span class="cmp_det_comment_author_create_date">{{ comment.created_at }}</span>
            </div>
            <div class="cmp_det_comment_author_name_category_div">
                <span class="cmp_det_comment_about_fix">About</span>
                <span class="cmp_det_comment_author_category">{{ comment.category }}</span>
                <span class="cmp_det_comment_author_slash">/</span>
                <span class="cmp_det_comment_author_subcategory">{{ comment.subcategory }}</span>
            </div>
        </div>
        <div class="cmp_det_comment_author_desc_div">
            {{ comment.description }}
        </div>
        <div class="cmp_det_comment_author_react_div">
            <div class="cmp_det_comment_author_react_like_count_div">
                <img 
                    src="{% static 'img/company_detail/like_icon.svg' %}"
                    class="cmp_det_comment_author_react_like_btn"
                    alt="like_icon" 
                />
                <span class="cmp_det_comment_author_react_like_count">{{ comment.likes }}</span>
            </div>
            <div class="cmp_det_comment_author_react_dislike_count_div">
                <img 
                    src="{% static 'img/company_detail/dislike_icon.svg' %}"
                    class="cmp_det_comment_author_react_dislike_btn"
                    alt="dislike_icon" 
                />
                <span class="cmp_det_comment_author_react_dislike_count">{{ comment.dislikes }}</span>
            </div>
        </div>
    </div>

    {% if comment.replies %}
        <div class="cmp_det_comment_reply_div" id="cmp_det_comment_reply_div">
            {% for reply in comment.replies %}
                {% include 'blog/comment_template.html' with comment=reply %}
            {% endfor %}
        </div>
    {% endif %}
</div>
