{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/companies/company_detail/company_detail.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/postDetail/post_detail.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/postDetail/related_projects.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mediaResp/company_detail/company_detail_media.css' %}"> 
    </head>



<article class="company_detail_article">
<div class="company_detail">
    <div class="cmp_det_description_div">
        <div class="cmp_det_full_description_div">
            <div class="cmp_det_description_top_div">
                <div class="cmp_det_full_description_logo_name_div">
                    {% if company.image %}
                        <img
                            src="{{ company.image.url }}"
                            width="40px"
                            height="40px"
                            class="cmp_det_full_description_logo"
                            alt="company_logo"
                        />
                    {% else %}
                        <img
                            src="{% static 'img/default_image.jpg' %}"
                            alt="company_icon"
                            class="company_icon"
                        />
                    {% endif %}
                    <div class="cmp_det_full_description_name">
                        <p class="cmp_det_full_name">{{company.name}}</p>
                        <span class="cmp_det_full_abbreviation">{{company.ticker}}</span>
                    </div>
                </div>
                <div class="cmp_det_description_top_right_div">
                    <a href="#" target="_blank">
                        <div class="cmp_det_company_home_icon_div">
                            <img
                                src="{% static 'img/company_detail/home_icon.svg' %}"
                                width="24px"
                                height="24px"
                                class="cmp_det_company_home_icon"
                                alt="company_home_icon"
                            />
                        </div>
                    </a>
                    
                    {% if company.github %}
                    <a href="{{ company.github }}" target="_blank">
                        <div class="cmp_det_company_github_icon_div">
                            <img
                                src="{% static 'img/companies/company_github_icon.svg' %}"
                                width="24px"
                                height="24px"
                                class="cmp_det_company_github_icon"
                                alt="company_github_icon"
                            />
                        </div>
                    </a>
                    {% endif %}

                    {% if company.link %}
                        <a href="{{ company.link }}" target="_blank">
                            <div class="cmp_det_company_news_icon_div">
                                <span class="company_links_news_text">News</span>
                                <img
                                    src="{% static 'img/companies/company_news_link_icon.svg' %}"
                                    width="16px"
                                    height="15px"
                                    class="company_news_link_icon"
                                    alt="company_news_link_icon"
                                />
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
            <p class="cmp_det_full_description_text">
                {{company.description}}
            </p>
            <p class="cmp_det_description_launched_date">
                Launched: {{company.date_added|date:"M Y"}}
            </p>
            <div class="cmp_det_full_description_tags_div">
                {% for tag in company.tag_rating.all %}
                    
                        <a class="cmp_det_full_description_tag sm_tag_item">{{ tag.name }}</a>
                        {% comment %} <div class="cmp_det_full_description_tagsm_tag_item">{{ tag.name }}</div> {% endcomment %}
                {% endfor %}
            </div>
        </div>
        <div class="cmp_det_description_total_score_div">
            <p class="cmp_det_description_total_score_p">Total SCORE</p>
            <div class="cmp_det_description_total_score_text_div">
                <img
                    src="{% static 'img/main/star.svg' %}"
                    width="24px"
                    height="24px"
                    alt="star_icon"
                />
                <div class="cmp_det_description_total_score_num_div">
                    <span class="cmp_det_description_total_score_num">{{company.average_score}}</span>
                    <span class="cmp_det_description_total_score_tps">TPS</span>
                </div>
            </div>
        </div>
    </div>

    <div class="company_ratings">
        {% comment %} 1 {% endcomment %}
        <div class="company_ratings_card">
            <div class="company_ratings_card_title_score_div">
                <div class="company_ratings_card_title_div">
                    <p class="company_ratings_card_title">TEAM</p>
                    <span class="company_ratings_card_description">The extent of decentralization within the team structure and decision-making processes</span>
                </div>

            
                <div class="company_ratings_card_score_div">
                    <div class="circle_div">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64px" height="64px" style="margin: -12px;">
                          <defs>
                            <linearGradient id="GradientColor">
                              <stop offset="0%" stop-color="#FE6A25" >
                              <stop offset="100%" stop-color="#edf3fc" >
                            </linearGradient>
                          </defs>
                          <circle cx="32" cy="32" r="28" stroke-linecap="round" style="stroke-dashoffset: {{company.team_score_formatted_2}};"/>
                        </svg>
                    </div>
                    <span class="company_ratings_card_score_text">{{company.team_score}}</span>
                </div>

                
            </div>
            <div class="company_ratings_card_stats_div">
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        <div class="company_ratings_card_stat_rating" style="width: {{company.team_score_obj.decentralized_score}}%;"></div>
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Decentralization</span>
                                <img
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.team_score_obj.decentralized_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment">
                        <span class="company_ratings_card_stats_comment_text">78 comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        <div class="company_ratings_card_stat_rating" style="width: {{company.team_score_obj.performace_score}}%;"></div>
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Activity</span>
                                <img
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.team_score_obj.performace_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment">
                        <span class="company_ratings_card_stats_comment_text">78 comments</span>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} 2 {% endcomment %}
        <div class="company_ratings_card">

            <div class="company_ratings_card_title_score_div">
                <div class="company_ratings_card_title_div">
                    <p class="company_ratings_card_title">PRODUCT</p>
                    <span class="company_ratings_card_description">The extent of decentralization within the team structure and decision-making processes</span>
                </div>
                <div class="company_ratings_card_score_div">
                    <div class="circle_div">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64px" height="64px" style="margin: -12px;">
                          <defs>
                            <linearGradient id="GradientColor">
                              <stop offset="0%" stop-color="#FE6A25" >
                              <stop offset="100%" stop-color="#edf3fc" >
                            </linearGradient>
                          </defs>
                          <circle cx="32" cy="32" r="28" stroke-linecap="round" style="stroke-dashoffset: {{company.product_score_formatted_2}};" />
                        </svg>
                    </div>
                    <span class="company_ratings_card_score_text">{{company.product_score}}</span>
                </div>
            </div>
            
            <div class="company_ratings_card_stats_div">
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        <div class="company_ratings_card_stat_rating" style="width: {{company.product_score_obj.performace_score}}%;"></div>
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Monthly active users</span>
                                <img
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.product_score_obj.performace_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment">
                        <span class="company_ratings_card_stats_comment_text">78 comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        <div class="company_ratings_card_stat_rating" style="width: {{company.product_score_obj.apy_1yr_score}}%;"></div>
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">APY 1 year</span>
                                <img
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.product_score_obj.apy_1yr_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment">
                        <span class="company_ratings_card_stats_comment_text">78 comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        <div class="company_ratings_card_stat_rating" style="width: {{company.product_score_obj.apy_5yr_score}}%;"></div>
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">APY 5 years</span>
                                <img
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.product_score_obj.apy_5yr_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment">
                        <span class="company_ratings_card_stats_comment_text">78 comments</span>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} 3 {% endcomment %}
        <div class="company_ratings_card">
            <div class="company_ratings_card_title_score_div">
                <div class="company_ratings_card_title_div">
                    <p class="company_ratings_card_title">SECURITY</p>
                    <span class="company_ratings_card_description">The extent of decentralization within the team structure and decision-making processes</span>
                </div>
                <div class="company_ratings_card_score_div">
                    <div class="circle_div">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64px" height="64px" style="margin: -12px;">
                          <defs>
                            <linearGradient id="GradientColor">
                              <stop offset="0%" stop-color="#FE6A25" >
                              <stop offset="100%" stop-color="#edf3fc" >
                            </linearGradient>
                          </defs>
                          <circle cx="32" cy="32" r="28" stroke-linecap="round" style="stroke-dashoffset: {{company.security_score_formatted_2}};"/>
                        </svg>
                    </div>
                    <span class="company_ratings_card_score_text">{{company.security_score}}</span>
                </div>
            </div>
            <div class="company_ratings_card_stats_div">
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        <div class="company_ratings_card_stat_rating" style="width: {{company.security_score_obj.asset_secured_score}}%;"></div>
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Asset secured</span>
                                <img
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.security_score_obj.asset_secured_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment">
                        <span class="company_ratings_card_stats_comment_text">78 comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        <div class="company_ratings_card_stat_rating" style="width: {{company.security_score_obj.emission_limit_score}}%;"></div>
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Max supply</span>
                                <img
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.security_score_obj.emission_limit_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment">
                        <span class="company_ratings_card_stats_comment_text">78 comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        <div class="company_ratings_card_stat_rating" style="width: {{company.security_score_obj.liquidity_score}}%;"></div>
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Liquidity</span>
                                <img
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.security_score_obj.liquidity_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment">
                        <span class="company_ratings_card_stats_comment_text">78 comments</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cmp_det_comment_slider_section_div">
            <div class="cmp_det_comment_section">

                <h2 class="cmp_det_comment_title">Users opinions</h2>

                <div class="cmp_det_comment_filter_div">
                    <div class="cmp_det_comment_filter_dropdown_div">
                        <div class="cmp_det_comment_filter_dropdown" id="cmp_det_comment_filter_dropdown">
                            <span class="cmp_det_comment_filter_current" id="cmp_det_comment_filter_current">All comments</span>
                            <img src="{% static 'img/timelineTags/dropdown_arrow.svg' %}" alt="dropdown_arrow" />
                        </div>
                        <div class="cmp_det_comment_filter_dropdown_types" id="cmp_det_comment_filter_dropdown_types">
                            {% comment %} <div class="companies_list_settings_option">
                                <label for="team">Team</label>
                                <input type="radio" id="team" name="status" value="team" />
                                <img
                                  src="{% static 'img/companies/companies_radio_icon.svg' %}"
                                  width="16px"
                                  height="16px"
                                  id="companies_radio_button"
                                  alt="companies_radio_icon"
                                />
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="cmp_det_comment_filter_dropdown_list" id="cmp_det_comment_filter_dropdown_list">
                        <div class="cmp_det_comment_filter_dropdown_item" onclick="FilterDropdown(event)">
                            All comments
                        </div>
                        <div class="cmp_det_comment_filter_dropdown_item" onclick="FilterDropdown(event)">
                            Team
                        </div>
                        <div class="cmp_det_comment_filter_dropdown_item" onclick="FilterDropdown(event)">
                            Product
                        </div>
                        <div class="cmp_det_comment_filter_dropdown_item" onclick="FilterDropdown(event)">
                            Security
                        </div>
                    </div>
                </div>


                <div class="cmp_det_comments_div">
                    <div class="cmp_det_comment">
                        <img 
                            src="{% static 'img/default_image.jpg' %}"
                            class="cmp_det_comment_profile_picture"
                            alt="dropdown_arrow" 
                        />
                        <div class="cmp_det_comment_author_name_desc_react_div">
                            <div class="cmp_det_comment_author_name_div">
                                <div class="cmp_det_comment_author_name">
                                    <span class="cmp_det_comment_author">Bitcoin Sistemi</span>
                                    <span class="cmp_det_comment_author_create_date">28 Jul 2023, 13:29 PM</span>
                                </div>
                                <div class="cmp_det_comment_author_name_category_div">
                                    <span class="cmp_det_comment_about_fix">About</span>
                                    <span class="cmp_det_comment_author_category">Security</span>
                                    <span class="cmp_det_comment_author_slash">/</span>
                                    <span class="cmp_det_comment_author_subcategory">Asset secured</span>
                                </div>
                            </div>
                            <div class="cmp_det_comment_author_desc_div">
                                Famous analyst Peter Brandt, known for his analysis of 
                                Bitcoin and cryptocurrencies, made statements about the 
                                spot Bitcoin ETFs that everyone is looking forward to 
                                and their impact on the market.
                            </div>
                            <div class="cmp_det_comment_author_react_div">
                                <div class="cmp_det_comment_author_reply_comment" id="cmp_det_comment_author_reply_comment">
                                    <span class="cmp_det_comment_author_reply_comment_span">Reply</span>
                                </div>
                                <div class="cmp_det_comment_author_react_like_count_div" id="cmp_det_comment_author_react_like_count_div">
                                    <img 
                                        src="{% static 'img/company_detail/like_icon.svg' %}"
                                        class="cmp_det_comment_author_react_like_btn"
                                        alt="like_icon" 
                                    />
                                    <span class="cmp_det_comment_author_react_like_count">243</span>
                                </div>
                                <div class="cmp_det_comment_author_react_dislike_count_div" id="cmp_det_comment_author_react_dislike_count_div">
                                    <img 
                                        src="{% static 'img/company_detail/dislike_icon.svg' %}"
                                        class="cmp_det_comment_author_react_dislike_btn"
                                        alt="dislike_icon" 
                                    />
                                    <span class="cmp_det_comment_author_react_dislike_count">11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp_det_comment_for_reply_textarea_div" id="cmp_det_comment_for_reply_textarea_div">
                        <textarea class="cmp_det_comment_for_reply_textarea">Name, </textarea>
                        <button class="cmp_det_comment_for_reply_textarea_btn">
                            <span class="cmp_det_comment_for_reply_textarea_btn_span">Send</span>
                        </button>
                    </div>
                    <div class="cmp_det_comment_reply">
                        <img 
                            src="{% static 'img/default_image.jpg' %}"
                            class="cmp_det_comment_profile_picture"
                            alt="dropdown_arrow" 
                        />
                        <div class="cmp_det_comment_author_name_desc_react_div">
                            <div class="cmp_det_comment_author_name_div">
                                <div class="cmp_det_comment_author_name">
                                    <span class="cmp_det_comment_author">Bitcoin Sistemi</span>
                                    <span class="cmp_det_comment_author_create_date">28 Jul 2023, 13:29 PM</span>
                                </div>
                                <div class="cmp_det_comment_author_name_category_div">
                                    <span class="cmp_det_comment_about_fix">About</span>
                                    <span class="cmp_det_comment_author_category">Security</span>
                                    <span class="cmp_det_comment_author_slash">/</span>
                                    <span class="cmp_det_comment_author_subcategory">Asset secured</span>
                                </div>
                            </div>
                            <div class="cmp_det_comment_author_desc_div">
                                Famous analyst Peter Brandt, known for his analysis of 
                                Bitcoin and cryptocurrencies, made statements about the 
                                spot Bitcoin ETFs that everyone is looking forward to 
                                and their impact on the market.
                            </div>
                            <div class="cmp_det_comment_author_react_div">
                                <div class="cmp_det_comment_author_reply_comment">
                                    <span class="cmp_det_comment_author_reply_comment_span">Reply</span>
                                </div>
                                <div class="cmp_det_comment_author_react_like_count_div">
                                    <img 
                                        src="{% static 'img/company_detail/like_icon.svg' %}"
                                        class="cmp_det_comment_author_react_like_btn"
                                        alt="like_icon" 
                                    />
                                    <span class="cmp_det_comment_author_react_like_count">243</span>
                                </div>
                                <div class="cmp_det_comment_author_react_dislike_count_div">
                                    <img 
                                        src="{% static 'img/company_detail/dislike_icon.svg' %}"
                                        class="cmp_det_comment_author_react_dislike_btn"
                                        alt="dislike_icon" 
                                    />
                                    <span class="cmp_det_comment_author_react_dislike_count">11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp_det_comment">
                        <img 
                            src="{% static 'img/default_image.jpg' %}"
                            class="cmp_det_comment_profile_picture"
                            alt="dropdown_arrow" 
                        />
                        <div class="cmp_det_comment_author_name_desc_react_div">
                            <div class="cmp_det_comment_author_name_div">
                                <div class="cmp_det_comment_author_name">
                                    <span class="cmp_det_comment_author">Bitcoin Sistemi</span>
                                    <span class="cmp_det_comment_author_create_date">28 Jul 2023, 13:29 PM</span>
                                </div>
                                <div class="cmp_det_comment_author_name_category_div">
                                    <span class="cmp_det_comment_about_fix">About</span>
                                    <span class="cmp_det_comment_author_category">Security</span>
                                    <span class="cmp_det_comment_author_slash">/</span>
                                    <span class="cmp_det_comment_author_subcategory">Asset secured</span>
                                </div>
                            </div>
                            <div class="cmp_det_comment_author_desc_div">
                                Famous analyst Peter Brandt, known for his analysis of 
                                Bitcoin and cryptocurrencies, made statements about the 
                                spot Bitcoin ETFs that everyone is looking forward to 
                                and their impact on the market.
                            </div>
                            <div class="cmp_det_comment_author_react_div">
                                <div class="cmp_det_comment_author_reply_comment">
                                    <span class="cmp_det_comment_author_reply_comment_span">Reply</span>
                                </div>
                                <div class="cmp_det_comment_author_react_like_count_div">
                                    <img 
                                        src="{% static 'img/company_detail/like_icon.svg' %}"
                                        class="cmp_det_comment_author_react_like_btn"
                                        alt="like_icon" 
                                    />
                                    <span class="cmp_det_comment_author_react_like_count">243</span>
                                </div>
                                <div class="cmp_det_comment_author_react_dislike_count_div">
                                    <img 
                                        src="{% static 'img/company_detail/dislike_icon.svg' %}"
                                        class="cmp_det_comment_author_react_dislike_btn"
                                        alt="dislike_icon" 
                                    />
                                    <span class="cmp_det_comment_author_react_dislike_count">11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cmp_det_show_more_comments_div">
                    <div class="cmp_det_show_more_comments_border"></div>
                    <div class="cmp_det_show_more_comments">
                        <span class="cmp_det_show_more_comments_span">Show more comments</span>
                        <img 
                            src="{% static 'img/company_detail/dropdown_icon.svg' %}"
                            width="12px" 
                            height="6px"
                            class="cmp_det_show_more_comments_dropdown_icon"
                            alt="comment_dropdown_icon"
                        />
                    </div>
                    <div class="cmp_det_show_more_comments_border"></div>
                </div>

                <div class="cmp_det_add_comment_form">
                    <div class="cmp_det_add_comment_asset_secured" id="cmp_det_add_comment_asset_secured">
                        <span class="cmp_det_add_comment_asset_secured_p" id="cmp_det_add_comment_asset_secured_p">Asset secured</span>
                        <div class="cmp_det_add_comment_asset_secured_icon_div">
                            <img 
                                src="{% static 'img/company_detail/dropdown_icon.svg' %}" 
                                width="12px" 
                                height="6px" 
                                alt="comment_dropdown_icon"
                            />
                        </div>
                    </div>
                    <div class="cmp_det_comment_input_div_for_responsive">
                        <div class="cmp_det_comment_input_div">
                            <img 
                                src="{% static 'img/company_detail/comment_icon.svg' %}" 
                                width="20px" 
                                height="20px" 
                                alt="comment_icon" 
                            />
                            <input 
                                type="text" 
                                class="cmp_det_comment_input"
                                placeholder="Write comment"
                            />
                        </div>       
                        <div class="cmp_det_add_comment_btn_div">
                            <button class="cmp_det_comment_btn">
                                <span class="cmp_det_comment_btn_span">Send</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="cmp_det_list_sub_criterion" id="cmp_det_list_sub_criterion">
                    <div class="cmp_det_sub_criterion" onclick="ForTest(event)">
                        <span class="cmp_det_sub_criterion_group_span">Team / </span>
                        <span class="cmp_det_sub_criterion_span">Asset secured</span>
                    </div>
                    <div class="cmp_det_sub_criterion">
                        <span class="cmp_det_sub_criterion_group_span">Team / </span>
                        <span class="cmp_det_sub_criterion_span">Max supply</span>
                    </div>
                    <div class="cmp_det_sub_criterion">
                        <span class="cmp_det_sub_criterion_group_span">Team / </span>
                        <span class="cmp_det_sub_criterion_span">Liquidity</span>
                    </div>
                    <div class="cmp_det_sub_criterion">
                        <span class="cmp_det_sub_criterion_group_span">Product / </span>
                        <span class="cmp_det_sub_criterion_span">Decentralization</span>
                    </div>
                    <div class="cmp_det_sub_criterion">
                        <span class="cmp_det_sub_criterion_group_span">Product / </span>
                        <span class="cmp_det_sub_criterion_span">Activity</span>
                    </div>
                    <div class="cmp_det_sub_criterion">
                        <span class="cmp_det_sub_criterion_group_span">Product / </span>
                        <span class="cmp_det_sub_criterion_span">Exposure</span>
                    </div>
                    <div class="cmp_det_sub_criterion">
                        <span class="cmp_det_sub_criterion_group_span">Security / </span>
                        <span class="cmp_det_sub_criterion_span">Monthly active users</span>
                    </div>
                    <div class="cmp_det_sub_criterion">
                        <span class="cmp_det_sub_criterion_group_span">Security / </span>
                        <span class="cmp_det_sub_criterion_span">APY 1 year</span>
                    </div>
                    <div class="cmp_det_sub_criterion">
                        <span class="cmp_det_sub_criterion_group_span">Security / </span>
                        <span class="cmp_det_sub_criterion_span">APY 5 years</span>
                    </div>
                </div>
                
            </div>


         {% if related_posts %}
         <div class="cmp_detail_related_news">
            <h3 class="post_detail_related_news_title">Related news</h3>
            <div class="cmp_slider_contain">
               <div class="glider-contain">
                  <div class="glider-company-detail-sidebar-slider">

                    {% for related_group in related_posts %}

                    <div class="post_detail_related_news_slider_items_flex">

                        {% for related_post_company in related_group %}

                            <div class="post_detail_related_news_slider_item" id="related_new{{ related_post_company.id }}">
                                <div class="post_detail_related_news_slider_item_description">
                                    <p class="post_detail_related_news_slider_item_description_p">
                                        {{related_post_company.title}}
                                    </p>
                                </div>
                                <div class="post_detail_related_news_slider_item_tags_share_icon_flex">

                                    <div class="post_detail_related_news_slider_item_tags_flex">
                                        <div class="post_detail_related_news_slider_item_tags_flex">
                                            {% for tag in related_post_company.tag_posts  %}
                                                <div class="sm_tag_item">
                                                    <p class="post_detail_related_news_slider_item_tag_p">
                                                        {{tag.name}}
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="share_icon_style related_news_silder_sidebar_item_style">
                                    <div class="share_dropdown_div" id="share_dropdown_div">
                                      <div class="share_dropdown_item" >
                                        <a> 
                    
                                          <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                                          <p class="share_dropdown_item_text">Copy link</p>
                                        </a>
                                        
                                      </div>
                    
                                      <div class="share_dropdown_item">
                                        <a target="_blank">
                    
                                          <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                                          <p class="share_dropdown_item_text">
                                          LinkedIn
                                        </p>
                                        </a>
                                        
                                      </div>
                    
                                      <div class="share_dropdown_item">
                                        <a href="https://t.me/share/url?url={{ main_url }}post/{{ related_post_sidebar.id }}" target="_blank">
                    
                                        <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                                        <p class="share_dropdown_item_text">
                                         Telegram
                                        </a>
                                       
                                      </p>
                                      
                                      </div>
                    
                                      <div class="share_dropdown_item">
                                        <a href="https://twitter.com/intent/tweet?url={{ main_url }}post/{{ related_post_sidebar.id }}" target="_blank">
                                          <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                                          <p class="share_dropdown_item_text">
                                            Twitter
                                          </p>  
                                        </a>
                                       
                                      </div>
                                    </div>
                                    </div>  
                                </div>
                            </div>
                    
                        {% endfor %}
                    </div>
                    {% endfor %}
                  </div>
               </div>
               <div class="post_detail_sidebar_buttons_div_flex">
                  <div class="post_detail_sidebar_buttons_div">
                     <div class="post_detail_sidebar_left_button glider-prev-company-detail-sidebar">
                        <img
                           src="{% static 'img/post_detail/post_detail_sidebar_left_arrow.svg' %}"
                           alt="left_arrow_icon"
                           width="24px"
                           height="24px"
                        />
                     </div>
                     <div class="post_detail_sidebar_right_button glider-next-company-detail-sidebar">
                        <img
                           src="{% static 'img/post_detail/post_detail_sidebar_right_arrow.svg' %}"
                           alt="right_arrow_icon"
                           width="24px"
                           height="24px"
                        />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endif %}

    </div>

</article>

<script src="{% static 'js/company_detail/company_detail.js' %}"></script>
<script src="{% static 'js/company_detail/reply_comment_field.js' %}"></script>
<script src="{% static 'js/company_detail/handle_like_dislike.js' %}"></script>
<script src="{% static 'js/company_detail/company_add_dropdown.js' %}"></script>
<script src="{% static 'js/company_detail/comment_filter_dropdown.js' %}"></script>
{% endblock %}