{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/companies/company_detail/company_detail.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/postDetail/post_detail.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/mediaResp/company_detail/company_detail_media.css' %}">
    </head>


<article class="company_detail_article">
<div class="company_detail">
    <div class="cmp_det_description_div">
        <div class="cmp_det_full_description_div">
            <div class="cmp_det_description_top_div">
                <div class="cmp_det_full_description_logo_name_div">
                    {% if company.image %}
                        <img
                            src="{{ company.image.url }}"
                            width="40px"
                            height="40px"
                            class="cmp_det_full_description_logo"
                            alt="company_logo"
                        />
                    {% else %}
                        <img
                            src="{% static 'img/default_image.webp' %}"
                            alt="company_icon"
                            class="company_icon"
                        />
                    {% endif %}
                    <div class="cmp_det_full_description_name">
                        <p class="cmp_det_full_name">{{company.name}}</p>
                        <span class="cmp_det_full_abbreviation">{{company.ticker}}</span>
                    </div>
                </div>
                <div class="cmp_det_description_top_right_div">
                    {% if company.link %}
                    <a href="{{ company.link }}" target="_blank">
                        <div class="cmp_det_company_home_icon_div">
                            <img
                                src="{% static 'img/company_detail/home_icon.svg' %}"
                                width="24px"
                                height="24px"
                                class="cmp_det_company_home_icon"
                                alt="company_home_icon"
                            />
                        </div>
                    </a>

                    {% endif %}
                    
                    {% if company.github %}
                    <a href="{{ company.github }}" target="_blank">
                        <div class="cmp_det_company_github_icon_div">
                            <img
                                src="{% static 'img/companies/company_github_icon.svg' %}"
                                width="24px"
                                height="24px"
                                class="cmp_det_company_github_icon"
                                alt="company_github_icon"
                            />
                        </div>
                    </a>
                    {% endif %}

                 
                       
                            <div class="cmp_det_company_news_icon_div" onclick="handle_build_redirect_url(event,'comp_inner_tags{{ company.id }}')">
                                <span class="company_links_news_text">News</span>
                                <img
                                    src="{% static 'img/companies/company_news_link_icon.svg' %}"
                                    width="16px"
                                    height="15px"
                                    class="company_news_link_icon"
                                    alt="company_news_link_icon"
                                />
                            </div>
                       
                  
                </div>
            </div>
            <p class="cmp_det_full_description_text">
                {{company.description}}
            </p>
            <p class="cmp_det_description_launched_date">
                {% comment %} Launched: {{company.date_added|date:"M Y"}} {% endcomment %}
                Launched: {{company.published_at|date:"M Y"}}
            </p>
            <div class="cmp_det_full_description_tags_div" id="comp_inner_tags{{ company.id }}">
                {% for tag in company.tag_rating.all %}
                    
                        <a class="cmp_det_full_description_tag sm_tag_item" id={{tag.id}}>{{ tag.name }}</a>
                        {% comment %} <div class="cmp_det_full_description_tagsm_tag_item">{{ tag.name }}</div> {% endcomment %}
                {% endfor %}
            </div>
        </div>
        <div class="cmp_det_description_total_score_div">
            <p class="cmp_det_description_total_score_p">Total SCORE</p>
            <div class="cmp_det_description_total_score_text_div">
                <img
                    src="{% static 'img/main/star.svg' %}"
                    width="24px"
                    height="24px"
                    alt="star_icon"
                />
                <div class="cmp_det_description_total_score_num_div">
                    <span class="cmp_det_description_total_score_num">{{company.average_score}}</span>
                    <span class="cmp_det_description_total_score_tps">TPS</span>
                </div>
            </div>
        </div>
    </div>

    <div class="company_ratings">
      
        <div class="company_ratings_card">
            <div class="company_ratings_card_title_score_div">
                <div class="company_ratings_card_title_div">
                    <p class="company_ratings_card_title">TEAM</p>
                    <span class="company_ratings_card_description">The extent of decentralization within the team structure and decision-making processes</span>
                </div>

            
                <div class="company_ratings_card_score_div">
                    <div class="circle_div">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64px" height="64px" style="margin: -12px;">
                          <defs>
                            <linearGradient id="GradientColor">
                              <stop offset="0%" stop-color="#FE6A25" >
                              <stop offset="100%" stop-color="#edf3fc" >
                            </linearGradient>
                          </defs>
                          <circle cx="32" cy="32" r="28" stroke-linecap="round" style="stroke-dashoffset: {{company.team_score_formatted_2}};"/>
                        </svg>
                    </div>
                    <span class="company_ratings_card_score_text">{{company.team_score}}</span>
                </div>

                
            </div>
            <div class="company_ratings_card_stats_div">
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">
                        {% if company.team_score_obj.decentralized_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.team_score_obj.decentralized_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Decentralization</span>
                                <img
                                    title='Degree of decentralization in the project; more centralization means higher regulatory risk.'
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.team_score_obj.decentralized_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="Decentralization">
                        <span class="company_ratings_card_stats_comment_text">{{company.team_decentralization_comment_count}} comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">

                        {% if company.team_score_obj.performace_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.team_score_obj.performace_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}

                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Activity</span>
                                <img
                                    title='Shows how active the team is (e.g., updates, marketing).'
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.team_score_obj.performace_score}}</span>
                        </div>


                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="Activity">
                        <span class="company_ratings_card_stats_comment_text">{{ company.team_activity_comment_count }} comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">

                        {% if company.team_score_obj.exposure_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.team_score_obj.exposure_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}

                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Exposure</span>
                                <img
                                    title="Measures audience reach, such as total views of the project's posts."
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.team_score_obj.exposure_score}}</span>
                        </div>


                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="Exposure">
                        <span class="company_ratings_card_stats_comment_text">{{ company.team_exposure_comment_count }} comments</span>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} 2 {% endcomment %}
        <div class="company_ratings_card">

            <div class="company_ratings_card_title_score_div">
                <div class="company_ratings_card_title_div">
                    <p class="company_ratings_card_title">PRODUCT</p>
                    <span class="company_ratings_card_description">The extent of decentralization within the team structure and decision-making processes</span>
                </div>
                <div class="company_ratings_card_score_div">
                    <div class="circle_div">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64px" height="64px" style="margin: -12px;">
                          <defs>
                            <linearGradient id="GradientColor">
                              <stop offset="0%" stop-color="#FE6A25" >
                              <stop offset="100%" stop-color="#edf3fc" >
                            </linearGradient>
                          </defs>
                          <circle cx="32" cy="32" r="28" stroke-linecap="round" style="stroke-dashoffset: {{company.product_score_formatted_2}};" />
                        </svg>
                    </div>
                    <span class="company_ratings_card_score_text">{{company.product_score}}</span>
                </div>
            </div>
            
            <div class="company_ratings_card_stats_div">
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">

                        {% if company.product_score_obj.performace_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.product_score_obj.performace_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}

                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Monthly active users</span>

                                <img

                                    title="Number of monthly active users; growth is a good sign."
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.product_score_obj.performace_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="Monthly active users">
                        <span class="company_ratings_card_stats_comment_text">{{company.product_monthly_active_users_comment_count}} comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">

                        {% if company.product_score_obj.apy_1yr_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.product_score_obj.apy_1yr_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}


                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">APY 1 year</span>
                                <img
                                    
                                    title="Annual percentage yield (APY) for the last year."
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.product_score_obj.apy_1yr_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="APY 1 year">
                        <span class="company_ratings_card_stats_comment_text">{{company.product_apy_1_year_comment_count}} comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">

                        {% if company.product_score_obj.apy_5yr_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.product_score_obj.apy_5yr_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}

                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">APY 5 years</span>
                                <img
                                    
                                    title="Average annual percentage yield (APY) over the last 5 years."
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.product_score_obj.apy_5yr_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="APY 5 years">
                        <span class="company_ratings_card_stats_comment_text">{{company.product_apy_5_years_comment_count}} comments</span>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} 3 {% endcomment %}
        <div class="company_ratings_card">
            <div class="company_ratings_card_title_score_div">
                <div class="company_ratings_card_title_div">
                    <p class="company_ratings_card_title">SECURITY</p>
                    <span class="company_ratings_card_description">The extent of decentralization within the team structure and decision-making processes</span>
                </div>
                <div class="company_ratings_card_score_div">
                    <div class="circle_div">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64px" height="64px" style="margin: -12px;">
                          <defs>
                            <linearGradient id="GradientColor">
                              <stop offset="0%" stop-color="#FE6A25" >
                              <stop offset="100%" stop-color="#edf3fc" >
                            </linearGradient>
                          </defs>
                          <circle cx="32" cy="32" r="28" stroke-linecap="round" style="stroke-dashoffset: {{company.security_score_formatted_2}};"/>
                        </svg>
                    </div>
                    <span class="company_ratings_card_score_text">{{company.security_score}}</span>
                </div>
            </div>
            <div class="company_ratings_card_stats_div">
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">

                        {% if company.security_score_obj.asset_secured_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.security_score_obj.asset_secured_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}

                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Asset secured</span>
                                <img
                                    
                                    title="Shows what backs the token (e.g., real assets or stablecoins)."
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.security_score_obj.asset_secured_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="Asset secured">
                        <span class="company_ratings_card_stats_comment_text">{{company.security_asset_secured_comment_count}} comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">

                        {% if company.security_score_obj.emission_limit_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.security_score_obj.emission_limit_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}

                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Max supply</span>
                                <img
                                    
                                    title="Indicates if the token has reached its max supply; if not, there's more risk."
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.security_score_obj.emission_limit_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="Max supply">
                        <span class="company_ratings_card_stats_comment_text">{{company.security_max_supply_comment_count}} comments</span>
                    </div>
                </div>
                <div class="company_ratings_card_stats">
                    <div class="company_ratings_card_stat_rating_div">

                        {% if company.security_score_obj.liquidity_score > 10 %}
                            <div class="company_ratings_card_stat_rating" style="width: calc({{company.security_score_obj.liquidity_score}}% + 1px);"></div>
                        {% else %}
                            <div class="company_ratings_card_stat_rating min_value_of_stats"></div>
                        {% endif %}
                        
                        <div class="company_ratings_card_stat_rating_name_icon_param">
                            <div class="company_ratings_card_stat_rating_name_icon_div">
                                <span class="company_ratings_card_stat_rating_name">Liquidity</span>
                                <img
                                    title="How easily the token can be bought or sold; higher liquidity is generally better."
                                    src="{% static 'img/company_detail/info_icon.svg' %}"
                                    class="company_ratings_card_stat_rating_icon"
                                    width="16px"
                                    height="16px"
                                    alt="info_icon"
                                />
                            </div>
                            <span class="company_ratings_card_stat_rating_score">{{company.security_score_obj.liquidity_score}}</span>
                        </div>
                    </div>
                    <div class="company_ratings_card_stats_comment" data-subcategory="Liquidity">
                        <span class="company_ratings_card_stats_comment_text">{{company.security_liquidity_comment_count}} comments</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cmp_det_comment_slider_section_div">
            <div class="cmp_det_comment_section"> 

                <h2 class="cmp_det_comment_title">Users opinions</h2> 

                 <div class="cmp_det_comment_filter_div">
                    <div class="cmp_det_comment_filter_dropdown_div">
                        <div class="cmp_det_comment_filter_dropdown" id="cmp_det_comment_filter_dropdown">
                            <span class="cmp_det_comment_filter_current" id="cmp_det_comment_filter_current">All comments</span>
                            <img src="{% static 'img/timelineTags/dropdown_arrow.svg' %}" alt="dropdown_arrow" />
                        </div>
                        <div class="cmp_det_comment_filter_dropdown_types" id="cmp_det_comment_filter_dropdown_types">
                           
                        </div>
                    </div>
                    <div class="cmp_det_comment_filter_dropdown_list" id="cmp_det_comment_filter_dropdown_list">
                        <div class="cmp_det_comment_filter_dropdown_item" id="filter-btn-All-comments">
                            All comments
                        </div>
                        <div class="cmp_det_comment_filter_dropdown_item" id="filter-btn-Team">
                            Team
                        </div>
                        <div class="cmp_det_comment_filter_dropdown_item" id="filter-btn-Product">
                            Product
                        </div>
                        <div class="cmp_det_comment_filter_dropdown_item" id="filter-btn-Security">
                            Security
                        </div>
                    </div>
                </div>


                <div class="cmp_det_comments_div" id="comments_section">
                    {% if main_comments %}
                        {% for comment in main_comments %}
                            <div class="cmp_det_comment" data-comment-id="{{ comment.id }}">
                                <img 
                                    src="{% static 'img/default_image.webp' %}"
                                    class="cmp_det_comment_profile_picture"
                                    alt="profile_picture" 
                                />
                                <div class="cmp_det_comment_author_name_desc_react_div">
                                    <div class="cmp_det_comment_author_name_div">
                                        <div class="cmp_det_comment_author_name">
                                            <span class="cmp_det_comment_author">{{ comment.name }}</span>
                                            <span class="cmp_det_comment_author_create_date">{{ comment.created_at }}</span>
                                        </div>
                                        <div class="cmp_det_comment_author_name_category_div">
                                            <span class="cmp_det_comment_about_fix">About</span>
                                            <span class="cmp_det_comment_author_category">{{ comment.category }}</span>
                                            <span class="cmp_det_comment_author_slash">/</span>
                                            <span class="cmp_det_comment_author_subcategory">{{ comment.subcategory }}</span>
                                        </div>
                                    </div>
                                    <div class="cmp_det_comment_author_desc_div">
                                        {{ comment.description }}
                                    </div>
                                    <div class="cmp_det_comment_author_react_div">
                                        <div class="cmp_det_comment_author_reply_comment" onclick="toggleReplyForm(this)">
                                            <span class="cmp_det_comment_author_reply_comment_span">Reply</span>
                                        </div>
                                        <div class="cmp_det_comment_author_react_like_count_div">
                                            <img 
                                                src="{% static 'img/company_detail/like_icon.svg' %}"
                                                class="cmp_det_comment_author_react_like_btn"
                                                alt="like_icon" 
                                            />
                                            <span class="cmp_det_comment_author_react_like_count">{{ comment.likes }}</span>
                                        </div>
                                        <div class="cmp_det_comment_author_react_dislike_count_div">
                                            <img 
                                                src="{% static 'img/company_detail/dislike_icon.svg' %}"
                                                class="cmp_det_comment_author_react_dislike_btn"
                                                alt="dislike_icon" 
                                            />
                                            <span class="cmp_det_comment_author_react_dislike_count">{{ comment.dislikes }}</span>
                                        </div>
                                    </div>
                                </div>
                
                               
                            </div>
                
                            {% if comment.replies %}
                                <div class="cmp_det_comment_reply_div">
                                    {% for reply in comment.replies %}
                                        {% include 'blog/comment_template.html' with comment=reply %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="cmp_det_comment" data-comment-id="{{ comment.id }}" data-author-name="{{ comment.name }}">
                                <div class="cmp_det_comment_for_reply_textarea_div" style="display:none;" id="comment_reply_form">
                                    <textarea class="cmp_det_comment_for_reply_textarea" placeholder="Write a reply..."></textarea>

                                    <div class='cmp_det_nameInp_sumbit_wrapper'>

                                        <input class='cmp_det_reply_nameInp' placeholder="Your name" />
                                        
                                        <button class="cmp_det_comment_for_reply_textarea_btn" onclick="submitReply(this)">
                                            <span class="cmp_det_comment_for_reply_textarea_btn_span">Send</span>
                                        </button>
                                    </div>
                                   
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="no_comments_message">
                            No comments
                        </div>
                    {% endif %}
                </div>
                

                {% if next_page_number %}
                <div class="cmp_det_show_more_comments_div">
                    <div class="cmp_det_show_more_comments_border"></div>
                    <div class="cmp_det_show_more_comments" id="show_more_comments_btn">
                        <span class="cmp_det_show_more_comments_span">Show more comments</span>
                        <img 
                            src="{% static 'img/company_detail/dropdown_icon.svg' %}"
                            width="12px" 
                            height="6px"
                            class="cmp_det_show_more_comments_dropdown_icon"
                            alt="comment_dropdown_icon"
                        />
                    </div>
                    <div class="cmp_det_show_more_comments_border"></div>
                </div>
                {% endif %}



                <div class="cmp-filter-commnet-wrapper">
                    <div>

                        <h3 class="cmp-comment-h3">Your comment to the criterion</h3>
    
                    </div>
                    <div class='cmp-filter-wrapper'>
                        <div class="cmp_det_add_comment_asset_secured" id="cmp_det_add_comment_asset_secured">
                            <span class="cmp_det_add_comment_asset_secured_p" id="cmp_det_add_comment_asset_secured_p">Security / Asset secured</span>
                            <div class="cmp_det_add_comment_asset_secured_icon_div">
                                <img 
                                    src="{% static 'img/company_detail/dropdown_icon.svg' %}" 
                                    width="12px" 
                                    height="6px" 
                                    alt="comment_dropdown_icon"
                                />
                            </div>
                        </div>
    
                        <div class="cmp_det_list_sub_criterion" id="cmp_det_list_sub_criterion">
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Team / </span>
                                <span class="cmp_det_sub_criterion_span">Decentralization</span>
                            </div>
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Team / </span>
                                <span class="cmp_det_sub_criterion_span">Activity</span>
                            </div>
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Team / </span>
                                <span class="cmp_det_sub_criterion_span">Exposure</span>
                            </div>
        
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Product / </span>
                                <span class="cmp_det_sub_criterion_span">Monthly active users</span>
                            </div>
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Product / </span>
                                <span class="cmp_det_sub_criterion_span">APY 1 year</span>
                            </div>
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Product / </span>
                                <span class="cmp_det_sub_criterion_span">APY 5 years</span>
                            </div>
        
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Security / </span>
                                <span class="cmp_det_sub_criterion_span">Asset secured</span>
                            </div>
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Security / </span>
                                <span class="cmp_det_sub_criterion_span">Max supply</span>
                            </div>
                            <div class="cmp_det_sub_criterion" onclick="makeActiveCategory(event)">
                                <span class="cmp_det_sub_criterion_group_span">Security / </span>
                                <span class="cmp_det_sub_criterion_span">Liquidity</span>
                            </div>
                            
                        </div>
        
                   </div>
                </div>

               

                <div class="cmp_det_add_comment_form">


                    <div class="cmp_det_comment_input_div_for_responsive">
                        <div class="cmp_det_comment_input_div">
                           
                            <textarea 
                                type="text" 
                                class="cmp_det_comment_textarea"
                                cols="1"
                                placeholder="Write comment"
                                oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                            ></textarea>
                        </div>       
                        
                    </div>

                   
                </div>

                <div class='cmp_det_comment_name_input_div_wrapper'>

                    <div class="cmp_det_comment_name_input_div">
                           
                        <input 
                            type="text" 
                            class="cmp_det_comment_input"
                            cols="1"
                            placeholder="Your name"
                            oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
                        />
                    </div>   


                    <div class="cmp_det_add_comment_btn_div">
                    <button class="cmp_det_comment_btn">
                        <span class="cmp_det_comment_btn_span">Send</span>
                    </button>
                </div>
            </div>


                
              
            </div> 


         {% if related_posts %}
         <div class="cmp_detail_related_news">
            <h3 class="post_detail_related_news_title">Related news</h3>
            <div class="cmp_slider_contain">
               <div class="glider-contain">
                  <div class="glider-company-detail-sidebar-slider" id="glider-company-detail-sidebar-slider">

                    {% for related_group in related_posts %}

                    <div class="post_detail_related_news_slider_items_flex" id="post_detail_related_news_slider_items_flex">

                        {% for related_post_company in related_group %}

                        {% comment %} <a href="{% url 'post_detail' related_post_company.id %}"> {% endcomment %}
                            <div class="post_detail_related_news_slider_item" id="related_new{{ related_post_company.id }}" onclick="openInnerPost('{{ related_post_company.id }}')">
                                <div class="post_detail_related_news_slider_item_description">
                                    <p class="post_detail_related_news_slider_item_description_p">
                                        {{related_post_company.title}}
                                    </p>
                                </div>

                                <div class="post_detail_related_news_slider_item_tags_share_icon_flex">

                                    <div class="post_detail_related_news_slider_item_tags_flex">
                                        <div class="post_detail_related_news_slider_item_tags_flex">
                                            {% for tag in related_post_company.tag_posts  %}
                                                <div class="sm_tag_item" onclick='tagStop(event)'>
                                                    <p class="post_detail_related_news_slider_item_tag_p">
                                                        {{tag.name}}
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="share_icon_style related_news_silder_sidebar_item_style" onclick="openShare(event, 'related_new{{ related_post_company.id }}')">
                                        <div class="share_dropdown_div" id="share_dropdown_div">
                                          <div class="share_dropdown_item">
                                            <a href="/invest/{{ related_post_company.id }}" onclick="copyToClipboard(event, '{{ main_url }}companies/{{ related_post_company.id }}')"> 
                                              <img src="{% static 'img/share/copy_link.svg' %}" alt="link_icon" />
                                              <p class="share_dropdown_item_text">Copy link</p>
                                            </a>
                                          </div>

                                          <div class="share_dropdown_item">
                                            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ main_url }}post/{{ related_post_company.id }}" target="_blank">
                                              <img src="{% static 'img/share/linkedin_icon.svg' %}" alt="link_icon" />
                                              <p class="share_dropdown_item_text">LinkedIn</p>
                                            </a>
                                          </div>

                                          <div class="share_dropdown_item">
                                            <a href="https://t.me/share/url?url={{ main_url }}post/{{ related_post_company.id }}" target="_blank">
                                                <img src="{% static 'img/share/telegram_icon.svg' %}" alt="link_icon" />
                                                <p class="share_dropdown_item_text">Telegram</p>
                                            </a>
                                          </div>
                        
                                          <div class="share_dropdown_item">
                                            <a href="https://twitter.com/intent/tweet?url={{ main_url }}post/{{ related_post_company.id }}" target="_blank">
                                              <img src="{% static 'img/share/twitter_icon.svg' %}" alt="link_icon" />
                                              <p class="share_dropdown_item_text">Twitter</p>  
                                            </a>
                                          </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        {% comment %} </a> {% endcomment %}
                    
                        {% endfor %}
                    </div>
                    {% endfor %}
                  </div>
               </div>
               {% if related_posts|length > 1 %}
               <div class="post_detail_sidebar_buttons_div_flex">
                  <div class="post_detail_sidebar_buttons_div">
                     <div class="post_detail_sidebar_left_button glider-prev-company-detail-sidebar">
                        <img
                           src="{% static 'img/post_detail/post_detail_sidebar_left_arrow.svg' %}"
                           alt="left_arrow_icon"
                           width="24px"
                           height="24px"
                        />
                     </div>
                     <div class="post_detail_sidebar_right_button glider-next-company-detail-sidebar">
                        <img
                           src="{% static 'img/post_detail/post_detail_sidebar_right_arrow.svg' %}"
                           alt="right_arrow_icon"
                           width="24px"
                           height="24px"
                        />
                     </div>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
         {% endif %} 

    </div>

</article>

<script src="{% static 'js/company_detail/reply_comment_field.js' %}"></script>
<script src="{% static 'js/company_detail/handle_like_dislike.js' %}"></script>
<script src="{% static 'js/company_detail/company_add_dropdown.js' %}"></script>
<script src="{% static 'js/company_detail/comment_filter_dropdown.js' %}"></script>
<script src="{% static 'js/company_detail/comment.js' %}"></script>
<script src="{% static 'js/to_post_detail.js' %}"></script>
{% endblock %}