{% extends 'blog/base.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/mediaResp/companies/companies_description_media.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mediaResp/companies/companies_list_media.css' %}">
</head>

<article class="companies_article">
  <div class="companeies_project_scoring_div_flex">
    <div class="project_scoring_div">
      <div class="project_scoring_title_text_div">
        <h2 class="project_scoring_title">Projects Scoring</h2>
        <p class="project_scoring_text">
          Our experts have selected 3 projects that are worthy of your attention
        </p>
      </div>

      <div class="companies_project_scoring_items_div">
        {% for company_item in top_companies %}

        <a class="company-item-link" href="{% url 'company_detail' company_item.id %}"> 
         <div class="project_scoring_item">
        <div class="project_scoring_item_logo_name_points_div">
            <div class="project_scoring_item_logo_div">
              {% if  company_item.image and company_item.image.url%}
              <img
                src="{{company_item.image.url}}"
                class="project_scoring_item_logo"
                alt="star_icon"
              />
              {% else %}
              <img
              src="{% static 'img/default_image.webp' %}"
                class="project_scoring_item_logo"
                alt="star_icon"
              />
              {% endif %}
              
            </div>

            <div class="project_scoring_item_name_points_div">
              <div class="project_scoring_item_name_div">
                <h3 class="project_scoring_item_fullname">
                  {{ company_item.name }}
                </h3>
                <p class="project_scoring_item_shortname">
                  {{ company_item.ticker }}
                </p>
              </div>

              <div class="project_scoring_item_points_div">
                <img
                  src="{% static 'img/main/star.svg' %}"
                  class="project_scoring_item_points_star_icon"
                  width="24px"
                  height="24px"
                  alt="star_icon"
                />

                <div class="project_scoring_item_points">
                  <span class="project_scoring_item_points_number"
                    >{{ company_item.average_score }}</span
                  >
                  <span class="project_scoring_item_points_text">TPS</span>
                </div>
              </div>
            </div>
          </div>

          <div class="project_scoring_item_triangle_image_div">
            <div class="project_scoring_item_triangle_top_text">
              <p class="project_scoring_item_triangle_p_text">Product</p>
            </div>
            <div class="bg">
              <div 
              class="triangle" 
              style="clip-path: polygon({{ company_item.team_score_first_formatted }}% {{ company_item.team_score_second_formatted }}%, 50% {{ company_item.product_score_formatted }}%, {{ company_item.security_score_formatted }}% {{ company_item.security_score_formatted }}%)"
              >
                <img 
                  src="{% static 'img/companies/company_triangle_white_icon.svg' %}" 
                  alt="triangle_white_icon"
                  width="85px" 
                  height="85px"
                />
              </div>
            </div>
            <div class="project_scoring_item_triangle_bottom_text">
              <p class="project_scoring_item_triangle_p_text">Team</p>
              <p class="project_scoring_item_triangle_p_text">Security</p>
            </div>
          </div>
       </div>
        </a>

        {% endfor %}
      </div>
    </div>

  </div>

  <div class="companies_rating_system_desc_div">
    <h3 class="companies_rating_system_title">The rating system</h3>
    <p class="companies_rating_system_text">
      evaluates a project based on three vital aspects of its performance: the
      extent of decentralization within the team structure and decision-making
      processes; effective marketing activities by the team; strong market
      performance as indicated by the product's growth, APY over the last year,
      secure asset management practices; along with token emission limitations,
      and liquidity level based on TVL.
    </p>
  </div>


    <div class="filter_fixed_popup_div" id="comp_filter_fixed_popup_div">
      <div
        class="tags_filter_popup companies_fixed_popup"
        id="tags_filter_popup"
      >
        <div class="timeline_tags_div_sticky" id="cmp_timeline_tags_div" onclick="(e)=> e.stopPropagation()">
          <div class="timeline_tags_filter_div_flex">
            <div class="timeline_tags_filter_div">
              {% comment %}
              <div class="timeline_calendar_search_div">
                <div class="timeline_search_input_div">
                  <img
                    src="{% static 'img/timelineTags/search.svg' %}"
                    id="search_icon_mobile"
                    alt="search_icon"
                  />

                  <div
                    class="search_max_vector_div"
                    id="search_max_vector_mobile_div"
                  >
                    <img
                      src="{% static 'img/timelineTags/search_max_vector.svg' %}"
                      id="search_max_vector_mobile"
                      alt="search_max_vector"
                    />
                  </div>
                  <input
                    type="text"
                    class="timeline_search_input"
                    id="timeline_search_input_mobile"
                    placeholder="Search"
                  />
                </div>
              </div>
              {% endcomment %}

              <div class="timeline_main_tags_div">
                <div class="timeline_categories_projects_tags_div">
                  <div class="line_line"></div>
                  <h3 class="timeline_categories_projects_tags_title no-select">
                    Projects
                  </h3>

                  <div class="timeline_categories_projects_tags_div_flex">
                    <div
                      class="timeline_categories_projects_tags_flex"
                      id="tag_rating_list"
                    >
                      {% for tag in all_tag_ratings %}
                      <div
                        class="big_tag_item"
                        onclick="handlerChooseCheckbox(`tag_rating{{tag.id}}`)"
                      >
                        <input
                          type="checkbox"
                          value="{{tag.id}}"
                          id="tag_rating{{tag.id}}"
                        />
                        <a class="href_tag">{{ tag.name }}</a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="timeline_tags_apply_button_div">
                  <button
                    class="timeline_tags_apply_button"
                    id="comp_tr_apply_button"
                    onclick="handleFilterSubmit()"
                  >
                    Apply
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  <article class="companies_all_table">

  <div class="companies_list_settings_div">
    <div class="tags_selector_div_flex">
      <div class="tags_selector_div" id="tags_selector_div_desktop">
        <div class="tags_selector" id="tags_selector">
          <span class="tags_selector_p" id="tags_selector_p">All Projects</span>
          <img
            src="{% static 'img/timelineTags/dropdown_arrow.svg' %}"
            id="dropdown_arrow"
            alt="dropdown_arrow"
          />
        </div>
      </div>
    </div>

    <div class="companies_list_settings_option_div" id="sort_options">
      <div class="companies_list_settings_option">
        <label for="launched">Launched</label>
        <input type="radio" id="launched" name="status" value="launched" onclick="handleSort('launched')" />
        <img
          src="{% static 'img/companies/companies_radio_icon.svg' %}"
          width="16px"
          height="16px"
          id="companies_radio_button"
          alt="companies_radio_icon"
        />
      </div>
      <div class="companies_list_settings_option">
        <label for="team">Team</label>
        <input type="radio" id="team" name="status" value="team" onclick="handleSort('team')" />
        <img
          src="{% static 'img/companies/companies_radio_icon.svg' %}"
          width="16px"
          height="16px"
          id="companies_radio_button"
          alt="companies_radio_icon"
        />
      </div>
      <div class="companies_list_settings_option">
        <label for="product">Product</label>
        <input type="radio" id="product" name="status" value="product"  onclick="handleSort('product')" />
        <img
          src="{% static 'img/companies/companies_radio_icon.svg' %}"
          width="16px"
          height="16px"
          id="companies_radio_button"
          alt="companies_radio_icon"
        />
      </div>
      <div class="companies_list_settings_option">
        <label for="security">Security</label>
        <input type="radio" id="security" name="status" value="security"  onclick="handleSort('security')" />
        <img
          src="{% static 'img/companies/companies_radio_icon.svg' %}"
          width="16px"
          height="16px"
          id="companies_radio_button"
          alt="companies_radio_icon"
        />
      </div>
      <div class="companies_list_settings_option" id="companies_list_total_score_option">
        <label for="total-score">Total SCORE</label>
        <input type="radio" id="totalScore" name="status" value="totalScore"  onclick="handleSort('totalScore')" />
        <img
          src="{% static 'img/companies/companies_radio_icon.svg' %}"
          width="16px"
          height="16px"
          id="companies_radio_button"
          alt="companies_radio_icon"
        />
      </div>
    </div>
    </div>

    <span aria-hidden="true" style="display: none" id="all_posts_total">
      {{total}}
    </span>


  <div class="companies_list_div">
    {% for company in companies %}

    <div class="company_item_list" id="company_card_wrapper" onclick="handle_build_company_inner_url(event, '{{ company.id }}')">
      <div class="company_item_list_elems_tags_div">
        <div class="company_item_main">
          <div class="company_left_part_div">
            <div class="company_logo_name_links">
              <div class="company_logo_name_div">
                <div class="company_logo_div">
                  {% if company.image %}
                  <img
                    src="{{ company.image.url }}"
                    alt="company_icon"
                    class="company_icon"
                  />
                  {% else %}
                  <img
                    src="{% static 'img/default_image.webp' %}"
                    alt="company_icon"
                    class="company_icon"
                  />
                  {% endif %}
                </div>
                <div class="company_logo_name_ticker_div">
                  <p class="company_logo_name">
                    {% comment %} <a
                      class="icon-link"
                      href="{% url 'company_detail' company.id %}"
                    > {% endcomment %}
                      {{ company.name }}
                    {% comment %} </a> {% endcomment %}
                  </p>
                  <p class="company_logo_ticker">{{ company.ticker }}</p>
                </div>
              </div>

              <div class="company_home_github_news_div">

              {% if  company.link %}
                 <a href="{{ company.link }}" target="_blank" onclick='handle_force_redirect(event)' >
                   <div class="company_home_icon_div">
                      <img
                        src="{% static 'img/companies/company_home_icon.svg' %}"
                        width="24px"
                        height="24px"
                        class="company_home_icon"
                        alt="company_home_icon.svg"
                      />
                    </div>
                  </a>
              {% endif %}
               

              {% if company.github  %}
               <a href="{{ company.github }}" target="_blank" onclick='handle_force_redirect(event)'>
                  <div class="company_github_icon_div">
                    <img
                      src="{% static 'img/companies/company_github_icon.svg' %}"
                      width="24px"
                      height="24px"
                      class="company_github_icon"
                      alt="company_github_icon"
                    />
                  </div>
                </a>
  
              {% endif %}


                  <div class="company_news_icon_div" onclick="handle_build_redirect_url(event,'comp_tags{{ company.id }}')">
                    <span class="company_links_news_text">News</span>
                    <img
                      src="{% static 'img/companies/company_news_link_icon.svg' %}"
                      width="16px"
                      height="15px"
                      class="company_news_link_icon"
                      alt="company_news_link_icon"
                    />
                  </div>

              </div>
            </div>

            <div class="company_description_div">
              <p class="company_description">{{ company.description }}</p>
            </div>
          </div>

          <div class="company_right_part_div">
            <div class="company_right_part_item_div">
              <p class="company_right_part_date_p" id="company_left_param_text">
                {{ company.date_added|date:"M Y" }}
              </p>
            </div>

            <div class="company_right_part_item_div">
              <p class="company_right_part_param_p" id="company_right_param_text">
                {{ company.team_score }}
              </p>
            </div>

            <div class="company_right_part_item_div">
              <p class="company_right_part_param_p" id="company_left_param_text">
                {{ company.product_score }}
              </p>
            </div>

            <div class="company_right_part_item_div">
              <p class="company_right_part_param_p" id="company_right_param_text">
                {{ company.security_score }}
              </p>
            </div>

            <div class="company_right_part_triangle_overall_ratings">

              <div class="project_scoring_item_triangle_image_div" id="company_list_item_triangle_div">
                <div class="project_scoring_item_triangle_top_text_list_item">
                  <p class="project_scoring_item_triangle_p_text">Product</p>
                </div>
                <div class="bg">
                  <div 
                  class="triangle" 
                  style="clip-path: polygon({{ company.team_score_first_formatted }}% {{ company.team_score_second_formatted }}%, 50% {{ company.product_score_formatted }}%, {{ company.security_score_formatted }}% {{ company.security_score_formatted }}%)"
                  >
                    <img 
                      src="{% static 'img/companies/company_triangle_white_icon.svg' %}" 
                      alt="triangle_white_icon"
                      width="85px" 
                      height="85px"
                    />
                  </div>
                </div>
                <div class="project_scoring_item_triangle_bottom_text_list_item">
                  <p class="project_scoring_item_triangle_p_text">Team</p>
                  <p class="project_scoring_item_triangle_p_text">Security</p>
                </div>
              </div>

              <div class="company_item_total_score_div">
                <p class="company_item_total_score_text">Total score</p>
              </div>

              <div class="company_star_overall_div">
                <img
                  src="{% static 'img/companies/company_star_icon.svg' %}"
                  width="24px"
                  height="24px"
                  alt="company_trianlge_diagram"
                />
                <p class="company_star_overall_text">
                  {{ company.average_score|default:"0"|floatformat:"0" }}
                </p>
                <p class="company_star_overall_tps">
                  TPS
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="company_tags_div" id="comp_tags{{ company.id }}">
          {% for tag in company.tag_rating.all %}
          <a
            class="btn btn-light btn-sm mb-1 company_tag"
            id={{tag.id}}
            {% comment %} href="{% url 'tag_projects_result' tag=tag %}" {% endcomment %}
          >
            {{ tag.name }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

</article>

  <button class="more_projects_btn_icon_flex" id="cmp-load-more-button"  onclick="loadMore(this)">
    <span
      class="btn btn-outline-secondary more_projects_btn"
    >
      More Projects
    </span>
    <img
      src="{% static 'img/companies/more_projects_dropdown_icon.svg' %}"
      width="16px"
      height="16px"
      alt="more_projects_dropdown_icon"
    />
  </div>
</article>

<script src="{% static 'js/companies/sortBy.js' %}"></script>
<script src="{% static 'js/companies/loadMoreCompanies.js' %}"></script>
<script src="{% static 'js/companies/tagFilterPopup.js' %}"></script>


{% endblock %}